@import 'tailwindcss';
@source "../views";

@theme {
  --color-primary: oklch(0.1742 0.0675 259.01);
  --color-secondary: oklch(0.3971 0.0642 255.73);
  --color-buttons-500: oklch(0.5106 0.2301 276.97);
  --text-color: #000;
}

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
  }
}
