<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>[x-cloak]{display:none}</style>
      @vite(['resources/js/app.js'])
      @stack('dumper')
      <title>
        {{ title || "EXF" }}
      </title>
      {{-- <link rel="icon" href="{{ asset('resources/images/favicon.png') }}" type="image/png" /> --}}
      @if($slots.meta)
        {{ await $slots.meta() }}
      @end
  </head>
  
  <body>
    {{-- @include('partials/nav') --}}
    {{{ await $slots.main() }}}
  </body>
</html>
